[bumpversion]
current_version = 1.1.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file(mcp-img):docker/Dockerfile]
search = aris-mcp[mcp]>={current_version}
replace = aris-mcp[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = aris-mcp[agent]>={current_version}
replace = aris-mcp[agent]>={new_version}

[bumpversion:file(tag-example):docker/Dockerfile]
search = -t aris-mcp:{current_version} .
replace = -t aris-mcp:{new_version} .

[bumpversion:file(compose-img-tag):docker/mcp.compose.yml]
search = knucklessg1/aris-mcp:{current_version}
replace = knucklessg1/aris-mcp:{new_version}

[bumpversion:file(deploy-img-tag):docs/deployment.md]
search = knucklessg1/aris-mcp:{current_version}
replace = knucklessg1/aris-mcp:{new_version}

[bumpversion:file(readme-img-tag):README.md]
search = knucklessg1/aris-mcp:{current_version}
replace = knucklessg1/aris-mcp:{new_version}

[bumpversion:file(readme-img-tag-short):README.md]
search = `:{current_version}`
replace = `:{new_version}`

[bumpversion:file:aris_mcp/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:aris_mcp/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
